@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Current year: @DateTime.Now.Year</p>
    <p>Random alphabet letter: @Model.RandomLetter</p>
</div>
